
/** Global *******************************************/
*{
	all: unset;
	font-family: feather;
	font-family: "JetBrains Mono";
	color: #151515;
}

/** Bar ***********************************/
.greeting {
	padding: 10px;
	border: 3px solid #161616;
	border-radius: 12px;
}

